strict-ssl=false
@jds:registry=http://devopsartifact.jio.com/artifactory/api/npm/jpf-ds_react__npm/
//devopsartifact.jio.com/artifactory/api/npm/jpf-ds_react__npm/:_auth=amRzdXNlcjpiVkg1ZEcuZ0BU
registry=https://devopsartifact.jio.com/artifactory/api/npm/npm_virtual/
//devopsartifact.jio.com/artifactory/api/npm/npm_virtual/:_auth=Y2ljZHVzZXI6QVA4dWM1THVLeGdITVlvV3VNTW01ODRUVm1V
always-auth = true