/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

// @include createDefaultTheme();

@import '~@jds/core/dist/styles/main';
@import '@szhsin/react-menu/dist/index.css';
@import '@szhsin/react-menu/dist/transitions/slide.css';
@import "~react-image-gallery/styles/scss/image-gallery.scss";

@include createDefaultTheme(['sky-midnight', 'red', 'green']);


@include addExtraTheme('purple-midnight', ['purple-midnight', 'sky', 'sky']); 

@include addExtraTheme('sky-red-green', ['sky-midnight', 'red', 'green']);

@include addExtraTheme('green-mint-orange', [ 'green-midnight', 'mint', 'orange' ]);

@include addExtraTheme('mint-green-orange', [ 'mint-midnight', 'green', 'orange' ]);

@include addExtraTheme('mint-sky-marigoldmidnight', [ 'mint', 'sky', 'marigold-midnight' ]);

@include addExtraTheme('orange-purple-sky', ['orange-midnight', 'purple', 'sky']);

@include addExtraTheme('pink-violetmidnight-marigoldmidnight', ['pink-midnight', 'violet-midnight', 'marigold-midnight']);

@include addExtraTheme('redmidnight-crimsonmidnight-sky', ['red-midnight', 'crimson-midnight', 'sky']);

// @include createDefaultTheme(['reliance', 'green', 'sky']);
.h-100{
  height: 100%;
}